<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoFAS_MES.POP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CoFAS_MES.POP.Properties.Settings>
            <setting name="DB_ID" serializeAs="String">
                <value>dbmes</value>
            </setting>
            <setting name="DB_TYPE" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="MULTI_LANGUAGE" serializeAs="String">
                <value>日本</value>
            </setting>
            <setting name="FONT_TYPE" serializeAs="String">
                <value>Meiryo UI</value>
            </setting>
            <setting name="FONT_SIZE" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="FTP_ID" serializeAs="String">
                <value>ftpadmin</value>
            </setting>
            <setting name="WORKSHOP" serializeAs="String">
                <value>WS001</value>
            </setting>
            <setting name="USER_ID_SAVE" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="PROCESS_POP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CORP_CODE" serializeAs="String">
                <value>9999999999</value>
            </setting>
            <setting name="SERVER_IP" serializeAs="String">
                <value>owell.coever.co.kr</value>
            </setting>
            <setting name="FTP_SERVER_IP" serializeAs="String">
                <value>owell.coever.co.kr</value>
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value>coever_mes_owell_v10_real</value>
            </setting>
            <setting name="FTP_SERVER_PORT" serializeAs="String">
                <value>8500</value>
            </setting>
            <setting name="USER_ID" serializeAs="String">
                <value>User ID</value>
            </setting>
            <setting name="RESOURCE_CODE" serializeAs="String">
                <value>RS0011</value>
            </setting>
        </CoFAS_MES.POP.Properties.Settings>
    </userSettings>
</configuration>